@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@theme {
/*   --color-primary: #14B8A6; for future use*/
/* THEME LIGHT */
/* Primary */
/*     --color-primary: hsl(155, 43%, 21%);
    --color-primary-muted: hsl(155, 43%, 17%);
    --color-primary-soft:  hsl(155, 43%, 21%, 0.1); */

/* Accent */
/*     --color-accent: hsl(31, 63%, 47%);
    --color-accent-muted: hsl(31, 63%, 40%);
    --color-accent-soft: hsl(31, 63%, 47%, 0.1); */

/*     Primary (Forest Green): #1F4D3A
    Accent  (Amber):        #C47A2C
    Neutrals:               Black & White */
    
/* Primary */
    --color-primary: oklch(0.38 0.06 165);
    --color-primary-dark: oklch(0.33 0.06 165);
    --color-primary-light: oklch(0.44 0.06 165);

/* Accent */
    --color-accent: oklch(0.72 0.14 75);
    --color-accent-dark: oklch(0.56 0.14 75);
    --color-accent-light: oklch(0.80 0.14 75);
    

/* Neutrals */
    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);

/* bg colors */
    --color-bg: oklch(0.98 0 264);
    --color-bg-dark: oklch(0.96 0 264);
    --color-bg-light: oklch(1 0 264);

/* text colors */
    --color-maintext: oklch(0.15 0 264);
    --color-text: #4a5565; /* oklch(0.4 0 264) */
    --color-text-light: oklch(0.8 0 264);

/* fonts */
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
  @apply scroll-smooth w-full bg-bg-light overflow-x-hidden;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

@layer utilities{
    .green-shadow{
      @apply  cursor-pointer hover:shadow-2xl hover:shadow-accent duration-300;
    }
    .card-scale{
      @apply hover:scale-95 duration-500;
    } 

    /* styling header and ordinary text */
    .headerTextGradient{
      @apply text-transparent text-4xl font-bold font-sans mb-2 sm:mb-0 p-2 sm:leading-12 tracking-wider bg-linear-to-r from-maintext to-green-800 bg-clip-text;
    } 
    .subHeader{
      @apply text-maintext text-xl font-bold mb-6 lg:mb-0 lg:leading-10 tracking-wider;
    } 

    .bodyText{
      @apply text-text leading-7  tracking-wide w-[80%] sm:w-[70%] lg:w-[60%] text-left sm:text-center m-auto lg:mt-2 mb-16 font-light;
    } 
    .sideBodyText{
      @apply text-text leading-7  tracking-wide w-[90%] text-left sm:text-center md:text-left  m-auto mt-4 font-light ;
    } 

   /*  styling body Icons */
    .mainIcon{
      @apply text-4xl text-accent-light;
    }
    .subIcon{
      @apply text-xl text-maintext;
    }
    
    /*   contact Icons */
    .contactIcon{
      @apply w-12 h-12 rounded-full bg-bg shadow-lg flex-col-center justify-center;
    }

    /* STYLING THE ITEM LISTS */
      .productListHeader{
        @apply  w-[95%] sm:w-1/3 h-fit text-maintext headerText font-semibold ;
      }
      .productListDesc{
        @apply w-full text-left sm:w-2/3 md:w-1/2 p-4 h-fit text-text cardText;
      }

    }  

/*  header */
@utility headerText{
  @apply text-maintext text-4xl font-bold mb-2 sm:mb-0 p-2 sm:leading-12 tracking-wider;
    
  }

/*  card */
@utility cardText{
      @apply text-text leading-7 sm:leading-normal tracking-wide lg:text-left;
    
  }
 /*  Flex layout */
  @utility flex-row-center{
        @apply flex flex-row items-center;
    }
  @utility flex-row-start{
    @apply flex flex-row items-start;
  }
  @utility flex-row-end{
    @apply flex flex-row items-end;
  }
  @utility flex-col-start{
    @apply flex flex-col items-start;
  }
  @utility flex-col-center{
    @apply flex flex-col items-center;
  }


@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}

@utility masked-img {
    mask-image: url("");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}

@layer components {
    .btn {
      @apply px-4 py-2 font-bold rounded ;
    }
    .btn-primary {
      @apply px-2 py-2 w-32 bg-accent rounded-sm cursor-pointer text-bg font-medium shadow-md;
    }
    .btn-secondary {
      @apply px-2 py-2 bg-none border border-accent-light w-32 rounded-sm cursor-pointer text-maintext font-medium shadow-md;
    }
    .btnHover{
        @apply cursor-pointer hover:bg-accent  hover:shadow-lg transition duration-400 ease-in-out;
    
    }

    /*For all the headings within my project */
    .header{
      @apply font-bold text-3xl text-maintext sm:w-full  w-[95%] text-center;
    }
    .headerSpan{
      @apply font-light text-3xl;
    }
    .headerLink li{
      @apply cursor-pointer hover:brightness-90 hover:text-primary duration-200;
    }
    .header-dark .headerLink a {
      @apply text-black;
    }
    .mobileList li{
      @apply text-text hover:bg-bg pl-4 w-full h-10 flex flex-row items-center;
    }
    .mobileNavIcon{
      @apply text-xl text-primary mr-3;
    }
    .navAngleIcon{
      @apply mr-2 float-end text-text text-sm mt-2;
    }

   /*  PRODUCT PAGE */
   .productLink li{
    @apply cursor-pointer p-2 pl-4 pr-4 w-fit text-center rounded-2xl hover:bg-bg-light duration-200 ;
  }

 /* Cart page */
 .cartTab{
  @apply cursor-pointer h-10 text-text flex-row-center p-2 gap-2 rounded-md hover:bg-bg-dark leading-5 sm:leading-normal;
  
 }
 .activeCartTab{
  @apply cursor-pointer h-10 bg-bg-light sm:bg-primary-light text-maintext sm:text-bg-light font-bold sm:font-normal leading-5 sm:leading-normal p-2 flex-row-center gap-2 rounded-md;
  
 }

    /* Footer list settings */
    .footerList{
        @apply flex flex-col-center items-start justify-evenly w-fit h-fit gap-4 text-bg text-sm;
      }
    .footerLink li{
    @apply cursor-pointer hover:text-primary duration-200;
    }

 /*  socials section */
  .myIcons{
    @apply text-xl text-maintext hover:brightness-80 transition-all duration-300 cursor-pointer;
  }

}
/* src/index.css (after your @tailwind directives) */
.clip-wave {
  clip-path: path("M0,40 C120,10 300,10 420,40 L420,240 L0,240 Z");
  -webkit-clip-path: path("M0,40 C120,10 300,10 420,40 L420,240 L0,240 Z");
  border-radius: 12px;
  overflow: hidden;

}


@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex flex-col-center md:flex-row md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-modern-negra text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex-row-center lg:gap-12 gap-7;
        }
    }

    /* noisy background layout */
    .noisy {
        @apply absolute inset-0 size-full bg-[url("")];
    }

   /* Video component */
    video {
        @apply w-full md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover;
    }
}