@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Modern Negra";
    src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
/* theme colors */
    --color-background: #FFFFFF;
    --color-primary: #E4F1F0;
    --color-faded-primary: #dce8e7; /*  */
    --color-secondary: #4FBB2E;
    --color-maintext: #01110A;
    --color-text: #1a1e1e;
    --color-faded-white:hsl(0,0%,75%);

/* fonts */
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    width: 100%;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@layer utilities{
    .green-shadow{
      @apply  cursor-pointer hover:shadow-2xl hover:shadow-secondary duration-300;
    }
    .card-scale{
      @apply hover:scale-95 duration-500;
    } 

    /* styling header and ordinary text */
    .headerText{
      @apply text-maintext text-4xl font-bold font-serif mb-2 sm:mb-0 p-2 sm:leading-12 tracking-wider;
    } 
    .subHeader{
      @apply text-maintext text-lg font-bold font-serif mb-6 lg:mb-0 lg:leading-14 tracking-wider;
    } 

    .bodyText{
      @apply text-slate-600 leading-7  tracking-wide w-[80%] sm:w-[70%] lg:w-[60%] text-left sm:text-center m-auto lg:mt-2 mb-16;
    } 
    .sideBodyText{
      @apply text-slate-600 leading-7  tracking-wide w-[90%] text-center md:text-left  m-auto mt-4 ;
    } 


   /*  card */
    .cardText{
      @apply text-slate-600 leading-7 sm:leading-8 tracking-wide text-center lg:text-left;
    } 

   /*  styling body Icons */
    .mainIcon{
      @apply text-4xl text-secondary mb-2;
    }
    .subIcon{
      @apply text-xl text-maintext;
    }
}  


 /*  Flex layout */
  @utility flex-row-center{
        @apply flex flex-row items-center;
    }
  @utility flex-row-start{
    @apply flex flex-row items-start;
  }
  @utility flex-row-end{
    @apply flex flex-row items-end;
  }
  @utility flex-col-start{
    @apply flex flex-col items-start;
  }
  @utility flex-col-center{
    @apply flex flex-col items-center;
  }


@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}

@utility masked-img {
    mask-image: url("");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}

@layer components {
    .btn {
      @apply px-4 py-2 font-bold rounded ;
    }
    .btn-primary {
      @apply px-2 py-2 w-32 bg-secondary rounded-sm cursor-pointer text-background font-medium shadow-md;
    }
    .btn-secondary {
      @apply px-2 py-2 bg-none border w-32 border-secondary rounded-sm cursor-pointer text-maintext font-medium shadow-md;
    }
    .btnHover{
        @apply cursor-pointer hover:bg-secondary hover:shadow-lg transition duration-400 ease-in-out;
    
    }

    /*For all the headings within my project */
    .header{
      @apply font-bold text-3xl text-maintext sm:w-full  w-[95%] text-center;
    }
    .headerSpan{
      @apply font-light text-3xl;
    }
    .headerLink li{
      @apply cursor-pointer hover:brightness-90 hover:text-secondary duration-200;
    }
    .mobileList li{
      @apply text-background pl-4 w-full h-10 flex flex-row items-center;
    }
    .mobileNavIcon{
      @apply text-xl text-background mr-3;
    }
    .navAngleIcon{
      @apply mr-2 float-end text-text text-sm mt-2;
    }

    /* Footer list settings */
    .footerList{
        @apply flex flex-col-center items-start justify-evenly w-fit h-fit gap-4 text-background text-sm;
      }
    .footerLink li{
    @apply cursor-pointer hover:text-secondary duration-200;
    }

 /*  socials section */
  .myIcons{
    @apply text-xl text-maintext hover:brightness-80 transition-all duration-300 cursor-pointer;
  }

}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex  flex-col-center md:flex-row md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-modern-negra text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex-row-center lg:gap-12 gap-7;
        }
    }

    /* noisy background layout */
    .noisy {
        @apply absolute inset-0 size-full bg-[url("")];
    }

   /* Video component */
    video {
        @apply w-full md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover;
    }
}